<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/saveMyemployee" method="POST">
    <label>Full Name</label>
    <input type="text" name = "form_full_name" class="form-control" placeholder="Enter full name">
    <br>
    <br>
    <label >Kra Pin Number</label>
    <input type="text" name = "form_kra_pin_number" class="form-control" placeholder="Enter kra pin">
    <br>
    <br>
    <label>Department</label>
    <input type="text" name = "form_department" class = "form-control" placeholder = "Enter department">
    <br>
    <br>
    <label>Position</label>
    <input type="text" name = "form_position" class="form-control" placeholder = "Enter position">
    <br>
    <br>
    <label>Basic Salary</label>
    <input type="text" name = "form_basic_salary" class="form-control" placeholder="Enter salary value">
    <br>
    <br>
    <label>House Allowance</label>
    <input type="text" name = "form_house_allowance" class="form-control" placeholder="Enter house allowance">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Add Employee</button>
</form>
</body>
</html>